body {
  background-color: white;
  color: black; 
}

.nav-bar {
  border-top: solid 1px #287429;
  background-color: black;
  padding: 1em;
  color: #A3E7AE;
  font-size: 1.2em;
  font-weight: 600;
}

footer {
  padding: .5em;
  border-top: solid 1px #287429;
  background-color: black;
  color: #A3E7AE; 
  margin: 1rem 1rem;
}
  
  nav > ul > li {
    border: solid 1px;
    padding: .33em;
    display: inline-block;
  }
  
  
  #bio {
    margin: 1rem;
  }
  
  @media (max-width: 549px){
    .hidden--mobile {
      display: none !important;
    }
  
    nav {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    nav > i {
      padding: 1rem;
      font-size: 2em;
    }
  
    nav > ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 0;
    }
  
    nav > ul > li {
      padding: 0.5rem;
      list-style-type: none;
    }
  
    #bio img {
      float: left;
      width: 40%;
      height: auto;
      margin-right: 1rem;
    }
  }
  
  @media (min-width: 550px) {
    nav > ul {
      display: flex;
      justify-content: space-evenly;
      padding: 0 0;
    }
  
    nav > ul > li {
      display: inline-block;
      text-decoration: none;
      border: 1px solid;
      padding: 0.5rem 0.5rem;
      border-radius: 25px;
    }
  
    nav > .fa-bars {
      display: none;
    }
