h2 {
  font-family: "Major Mono Display", sans-serif;
}

body {
  font-family: "Sofia Sans", sans-serif;
}

.nav-bar {
  background: url(./assets/Caldwell_CortinaCapstoneLogoTransparent.png) left;  background-size: cover;
  display: flex;
  border-top: solid 1px #287429;
  background-color: black;
  padding: 1em;
  color: #A3E7AE;
  font-size: 1.2em;
  font-weight: 600;
}
      
#jumbotron {
  background: url(./assets/branded-dan-meyers-IQVFVH0ajag-unsplash.png) center center no-repeat;  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
      
#jumbotron > h2 {
  color: black;
  text-align: center;
}
      
#jumbotron > a {
  text-decoration: none;
  background-color: white;
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}
      
footer {
  border-top: solid 1px black;
  padding: 2rem 2rem 4rem;
  margin: 1rem 1rem;
}
    
      
  @media (max-width: 549px){
    .hidden--mobile {
      display: none !important;
  }
      
  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
      
   nav > i {
   padding: 1rem;
   font-size: 2em;
   }
      
  nav > ul {
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 0 0;
  }
      
  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
      
  #bio img {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 1rem;
  }
}
      
  @media (min-width: 550px) {
    nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }
      
  nav > ul > li {
   display: inline-block;
   text-decoration: none;
   border: 1px solid;
   padding: 0.5rem 0.5rem;
   border-radius: 25px;
  }
      
  nav > .fa-bars {
    display: none;
  }
}